@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --main-font: 'Open Sans';
}

* {
    font-family: var(--main-font, monospace);
}

body {
    padding-left: 7vw;
    padding-right: 7vw;
    padding-bottom: 5vh;
    padding-top: 5vh;
    margin: 100px 100px 100px 100px;
    position: relative;
    align-items: left;
    display: grid;
    grid-template-columns: auto;
    gap: 5px;
}

main {
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 2vw;
    margin-right: 2vw;
}

h1 {
    text-align: left;
}

/* signals absent members */
.absent p, li[class="week1"] {
    color: red;
}

/* signals present members */
.present p {
    color: rgb(0, 128, 0);
}

h2 {
    color: hsl(0, 0%, 40%);
    padding-bottom: 5px;
    font-size: 1.5em;
}

.week-subtitles {
    color: #313647;
    padding-bottom: 1pc;
}

/* vivid red for issue */
h3 {
    color: color(display-p3 1 0 0);
    padding: 0 0 5pt 0;
}

a {
    background-color: transparent;
    margin: auto;
}

/* highlight hyperlink when hovered */
a:hover {
    background-color: color-mix(in oklab, red, white 15%);
}

a:active {
    background-color: blue;
}

button {
    border-radius: 10px;
    border-width: 3px;
    height: 10vh;
    width: 20vw;
    max-height: 40px;
    max-width: 120px;
    position: static;
}

button:hover {
    border-color: #99AD7A;
    border-style: double;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: left;
}

h1#top {
    font-weight: bold;
}

@media (max-width: 600px) {
    body {
        margin: 20px; 
        padding: 5vw;
        align-items: flex-start;
    }
    
    h2 {
        font-size: 1.2em;
    }
}