/* signals absent members */
.absent p
{
    color: red;
}

/* signals present members */
.present p
{
    color: rgb(0, 128, 0);
}

h2
{
    color: hsl(0, 0%, 40%);
}

.week-subtitles
{
    color: #313647;
}

/* vivid red for issue */
h3
{
    color: color(display-p3 1 0 0);
}

/* highlight hyperlink */
a:hover
{
    background-color: color-mix(in oklab, red, white 15%);
}