/* highlight selectors in green */
selector
{
    background-color: green;
}

/* highlight properties in purple */
property
{
    background-color: purple;
}

/* highlight values in orange */
value
{
    background-color: orange;
}